<!-- Section: Features v.1 -->
<div class="container">
<section class="text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Why is it so great?</h2>
    <!-- Section description -->
    <p class="lead grey-text w-responsive mx-auto mb-5">
        you can read large variety books available 24X7 and also available special discount for book lover start reading now.   
    </p> 
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4">
  
        <img src="../../assets/book1.svg"  style="width: 50%"  alt="logo1" >
        <h5 class="font-weight-bold my-4">Reading</h5>
        <p class="grey-text mb-md-0 mb-5">we provide books in online and offline  books for our customer.
        </p>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4">
  
        <img src="../../assets/online.svg"  style="width: 55%"  alt="logo2" >
        <h5 class="font-weight-bold my-4">Online</h5>
        <p class="grey-text mb-md-0 mb-5">This store available 24 X 7 you can buy book anytime anywhere.
        </p>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->  
      <div class="col-md-4">
  
        <img src="../../assets/book2.svg"  style="width: 55%"  alt="logo2" >
        <h5 class="font-weight-bold my-4">variety</h5>
        <p class="grey-text mb-0">We have large variety book available for our customers we belive variety is a key to make our customer happy  .
        </p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  </div>
  <!-- Section: Features v.1 -->