<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <!-- Navbar brand -->
    <a class="navbar-brand" (click)="dash()"><img src="../../assets/logo.png" style="width: 100px;height:auto; " ></a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link"  routerLink="/about"  >About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="goHistory()" *ngIf="this.log.anyLogin()" >History</a>
          </li>
        <!-- Dropdown -->
        
      </ul>
      <!-- Links -->
        <div class="md-form my-0">
          <input class="btn btn-sm btn-success" (click)="loginnow()" *ngIf="!this.log.anyLogin()" type="button" value="Login" >
          <input class="btn btn-sm btn-danger" (click)="logoutnow()" *ngIf="this.log.anyLogin()" type="button" value="Logout">
          <button (click)="goCart()" *ngIf="this.log.anyLogin()"    class="btn btn-sm btn-warning">cart</button>
        </div>
    </div>
    <!-- Collapsible content -->
  </nav>
  <!--/.Navbar-->
